img {
  max-width: 100%;
}

/* Code Under This Line */
.red-border {
  border: solid red 10px;
}

.blue-border {
  border: dashed blue 10px;
}

.green-border {
  border-left: solid green 10px;
}

.flag {
  border-top: solid red 10px;
  border-bottom: solid red 10px;
  border-left: solid blue 10px;
  border-right: solid blue 10px;
}
